canvas {
    width: 100%;
    height: 100%;
    cursor: url('https://cdn-icons-png.flaticon.com/512/1828/1828911.png') 0 0, pointer;
}
.canvas-container{
    cursor: url('https://cdn-icons-png.flaticon.com/512/1828/1828911.png') 0 0, pointer;
}

input[type=color]::-webkit-color-swatch {
    border: none;
    border-radius: 50%;
    padding: 0;
}

input[type=color]::-webkit-color-swatch-wrapper {
    border: none;
    border-radius: 50%;
    padding: 0;
}
.hover\:cursor-pointer:hover {
    cursor: url('https://cdn-icons-png.flaticon.com/512/1828/1828911.png'), auto;
  }
  
  #astranaunt-painting {
    position: absolute;
    bottom: 0;
    right: 10px;
    animation: dribble 5s linear infinite;
  }
  
  @keyframes dribble {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-20px);
    }
  }
  
  
  


  